[Desktop Entry]
Version=0.9
Type=Application
Name=Feeder
Icon=feeder-standart
Exec=feeder
Comment=A simple rss/atom reader
Categories=Utility;
Terminal=false
StartupWMClass=feeder
